.center{
    margin: auto;
    display: flex;
}

.pointer {
    cursor: pointer;
}

.form-text-name {
    font-size: 12px;
    font-weight: 300;
    color: rgb(95, 95, 95);
}

td,
th {
    padding: 10px !important;
}

tr {
    border-bottom: 1px solid rgb(197, 197, 197);
}

.table-hover tbody tr:hover {
    background-color: #f5f5f5 !important;
    color: black;
}

.tableHead {
    background-color: #343a40 !important;
    color: white;
}